.complete {
    text-decoration: line-through;
    color: var(--ion-color-medium);
}

ion-button {
    margin-left: 5px;
}

/* Ensure clicking the icons does not trigger the checkbox's click event */
ion-checkbox { z-index: 1;}
ion-icon { z-index: 2; }